ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
li{
    list-style: none;
    margin: 1rem;
    padding: .3rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.form{
    margin-bottom: 2rem;
}

.remove-btn{
    height: 2rem;
    bottom: 0 !important;
    text-align: center;
    padding: 6px 65px !important;
    top: 12px;
}

@media screen and (max-width: 769px) {
    ul{
        flex-direction: column;
    }
    li{
        width: 100% !important;
    }
    .remove-btn{
        margin-bottom: 1rem;
    }
}